.details {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #0ff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  color: #fff;
  position: relative;
  box-shadow: 0 0 10px #0ff;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.details:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #0ff;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #0ff;
  color: #0ff;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  transition:
    background 0.3s,
    transform 0.3s;
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.9);
  transform: scale(1.1);
}

.details h2 {
  font-size: 18px;
  font-weight: bold;
  color: #0ff;
  margin-top: 20px;
}

.details p {
  font-size: 14px;
  color: #bbb;
  margin-top: 10px;
}

.details img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .details {
    width: 270px;
    margin-left: 50px;
  }

  .details h2 {
    font-size: 16px;
  }

  .details p {
    font-size: 12px;
  }

  .details img {
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .details {
    width: 220px;
    margin-left: 20px;
  }

  .details h2 {
    font-size: 14px;
  }

  .details p {
    font-size: 12px;
  }

  .details img {
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .details {
    width: 100%;
    margin-left: 0;
    padding: 15px;
  }

  .details h2 {
    font-size: 14px;
  }

  .details p {
    font-size: 12px;
  }

  .details img {
    width: 100%;
    height: auto;
  }
}
