.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.cardList .card {
  flex: 1 1 calc(33.33% - 20px);
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .cardList .card {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .cardList .card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .cardList .card {
    flex: 1 1 100%;
  }
}
