
.card {
  width: 150px;
  height: 250px;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #0ff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #0ff;
}

/* Image Styles */
.image {
  border-radius: 10px;
  object-fit: cover;
}

.name {
  font-size: 14px;
  font-weight: bold;
  color: #0ff;
  margin-top: 10px;
}

.description {
  font-size: 12px;
  color: #bbb;
  margin-top: 5px;
  text-align: center;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.cardList .card {
  flex: 1 1 calc(33.33% - 20px);
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .cardList .card {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .cardList .card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .cardList .card {
    flex: 1 1 100%;
  }
}
