.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 162, 0);
	align-items: center;
  text-align: left;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-family: 'Star Jedi', sans-serif;
  box-shadow: 0 -5px 10px rgba(231, 183, 10, 0.8);
  transition: opacity 0.3s ease-in-out;
}

.footer:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .footer {
    font-size: 1rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 0.9rem;
    padding: 6px;
  }
}
