.searchContainer {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgb(255, 162, 0);
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255, 162, 0);
  outline: none;
  border-radius: 5px;
}

input:hover {
  border: 2px solid #00bfff;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  background: rgb(255, 162, 0);
  color: #000;
  border: 2px solid #ffd700;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.button:hover {
  background: #00bfff;
}
