.musicPlayer {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(255, 162, 0);
  font-family: 'Star Jedi', sans-serif;
}

.playPauseButton {
  background-color: transparent;
  border: 2px solid #ffd700;
	border-radius: 5px;
  color: rgb(255, 162, 0);
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.playPauseButton:hover {
  background-color: #ffd700;
  color: #000;
}

.icon {
  font-size: 20px;
}
