@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url('./assets/evvjozguyaa1rqi.avif') repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background: url('./assets/darth-vader-poster-wallpaper.jpg') repeat;
    background-size: cover;
  }
}
